:root {
  font-family: "Roboto Mono";
  font-size: 16px;
}

.color-theme {
  --background: black;
  --background-1: rgb(25, 25, 25);
  --foreground: rgb(255, 255, 255);
  --accent: orange;
  --highlighted: yellow;
}

body {
  color: var(--foreground);
  background-color: var(--background);
}

.app {
}

.app__header {
  display: flex;
  justify-content: center;
}

.app__title {
  font-size: 4rem;
}

.form {
  display: flex;
  flex-direction: column;

  justify-content: center;

  max-width: 300px;
  margin: auto;
}

.form__input {
}

.form_button {
}

.card-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  padding: 50px;
}

.card {
  display: flex;
  flex-direction: column;

  background-color: var(--background-1);
  border-radius: 10px;

  text-align: center;

  width: auto;
  max-width: 200px;

  padding: 10px;
  margin: 20px;

  transition: all 0.2s linear;
}

.card:hover {
  transform: scale(1.3);
}

.card__menubutton {

}

.card__label {
  font-size: 1.5em;
  margin: 20px;

  overflow: scroll;
}

.card__count {
  margin: 10px;
  font-size: 2em;
}

.card__button-holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card__button {
  width: 100%;

  font-size: 1.4em;

  width: 80px;
  height: 50px;
}
